.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.feature__wrap-icon, .section-work-list__overlay-work, .socials-list__link, .label-list__link, .wrap-footer-socials__link, .modal-close, .checkbox__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section-subtitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.page {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__second-part--colo-black {
  color: #000000;
}

.logo__second-part--colo-white {
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: flex-start;
    align-items: center;
  }
}

.main-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: block;
  }
}

.header__logo {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding: 26px 0;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 24px 0;
    margin-right: 93px;
  }
}

.header-btn__open {
  padding: 22px 0;
  background-color: #ffffff;
  border: none;
}

.header-btn__open:hover .header-btn__icon,
.header-btn__open:focus .header-btn__icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-btn__open {
    display: none;
  }
}

.header-btn__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__item {
  position: relative;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link.current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    justify-content: center;
  }
}

.site-nav__link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contact-nav {
  margin-left: 84px;
  display: none;
}

@media screen and (min-width: 768px) {
  .contact-nav {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contact-nav__icon {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contact-nav__icon {
    margin-right: 10px;
  }
}

.contact-nav__icon--phone {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .contact-nav__icon--phone {
    width: 10px;
    height: 16px;
  }
}

.contact-nav__icon--mail {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .contact-nav__icon--mail {
    width: 16px;
    height: 12px;
  }
}

.contact-nav__link {
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contact-nav__link {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contact-nav__link {
    align-items: center;
    display: flex;
  }
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.header-mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .header-mob-menu {
    display: none;
  }
}

.header-mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mob-menu-close {
  display: flex;
  border: none;
  position: absolute;
  background-color: transparent;
  top: 21px;
  right: 25px;
  padding: 0;
}

.mob-menu-close:hover .mob-menu-close__icon,
.mob-menu-close:focus .mob-menu-close__icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close__icon {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.header-mob-menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-mob-menu__link.current {
  color: #2196f3;
}

.contact-mob {
  margin-bottom: 64px;
}

.contact-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact-mob__link {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-mob__link--accent-color {
  color: #2196f3;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mob-socials-list__item:not(:last-child) {
  margin-right: 20px;
}

.mob-socials-list__item:not(:last-child)::after {
  content: '';
  position: absolute;
  margin-left: 10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mob-socials-list {
  display: flex;
}

.mob-socials-list__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/Header-img-mob-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 198px;
  margin: 0 auto;
  text-align: center;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 280px;
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/Header-img-mob2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/Header-img-tab-min.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/Header-img-tab2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/Header-img-desk-min.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/Header-img-desk2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.section-subtitle--color-white {
  color: #ffffff;
}

.section-subtitle--color-black {
  color: #212121;
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature__list {
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__list {
    flex-wrap: wrap;
    margin-right: calc(-1 * 30px);
    margin-bottom: calc(-1 * 30px);
  }
}

.feature__wrap-icon {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__subtitle {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    max-width: 270px;
  }
  .feature__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.feature__text {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-work {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-work__title {
  margin-top: 0;
  margin-bottom: 0;
}

.section-work-list {
  display: flex;
  margin-top: 50px;
}

.section-work-list__item:not(:last-child) {
  margin-right: 30px;
}

.section-work-list__thumb {
  width: 100%;
  height: 100%;
  position: relative;
}

.section-work-list__overlay-work {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-team__title {
  margin-top: 0;
  margin-bottom: 0;
}

.section-team__list {
  margin-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * 30px);
    margin-bottom: calc(-1 * 30px);
  }
}

@media screen and (min-width: 1200px) {
  .section-team__list {
    display: flex;
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .section-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.section-team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team__item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .section-team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.section-team__img {
  margin: 0 auto;
}

.section-team__inner {
  padding: 30px 0;
}

.section-team__name {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section-team__profession {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.socials-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.socials-list:not(:last-child) {
  margin-right: 10px;
}

.socials-list__item {
  width: 44px;
  height: 44px;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover, .socials-list__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.socials-list__icon {
  fill: currentColor;
}

.section-clients {
  padding-top: 92px;
  padding-bottom: 94px;
}

.section-clients__title {
  margin-top: 0;
  margin-bottom: 0;
}

.section-clients__label-list {
  display: flex;
  margin-top: 50px;
}

.label-list__item {
  width: 170px;
  height: 92px;
}

.label-list__item + .label-list__item {
  margin-left: 30px;
}

.label-list__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-list__link:hover, .label-list__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.label-list__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

.footer__wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrapper {
    padding: 60px 74px 60px 61px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .footer__wrap-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__position {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__position {
    margin-bottom: 0;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__contact {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.wrap-footer-socials__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .wrap-footer-socials {
    margin-left: 70px;
  }
}

.wrap-footer-socials__list {
  display: flex;
  justify-content: center;
}

.wrap-footer-socials__item {
  width: 44px;
  height: 44px;
}

.wrap-footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.wrap-footer-socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrap-footer-socials__link:hover, .wrap-footer-socials__link:focus {
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .wrap-footer-socials__list {
    margin-bottom: 60px;
  }
}

.wrap-footer-socials__icon {
  fill: currentColor;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio-button__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button__btn {
  display: block;
  padding: 6px 22px;
  min-width: 100%;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button__btn:hover, .portfolio-button__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.portfolio-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .portfolio-list__link:hover .portfolio-list__text,
.portfolio-list .portfolio-list__link:focus .portfolio-list__text {
  transform: translateY(0);
}

.portfolio-list__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list__text {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 63px 24px;
  position: absolute;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.portfolio-list__wrap-title {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.portfolio-list__title {
  margin: 0;
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list__subtitle {
  color: #757575;
  margin-top: 4px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(180deg) translateY(1000px) scale(0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate(0) rotate(0deg) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close__icon,
.modal-close:focus .modal-close__icon {
  fill: #2196f3;
}

.modal-close__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  padding: 40px;
  margin: 0 auto;
}

.modal-form__name {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.modal-form__label {
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__wrapper {
  position: relative;
}

.modal-form__input {
  color: #757575;
  outline: none;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border: 1px solid #2196f3;
}

.modal-form__input:focus + .icon-form {
  fill: #2196f3;
}

.modal-form__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 12px;
}

.textarea {
  padding: 12px 16px;
  outline: none;
  height: 120px;
  width: 100%;
  resize: none;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.textarea:focus {
  border-color: #2196f3;
}

.textarea::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox__label {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
}

.checkbox__item {
  width: 16px;
  height: 15px;
  border: 2px solid #757575;
  border-radius: 2px;
  margin-right: 8px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__policy:checked + .checkbox__label .checkbox__item {
  background-color: #2196f3;
  border: none;
}

.checkbox__policy:focus + .checkbox__label .checkbox__item {
  border-color: #2196f3;
}

.checkbox__icon {
  fill: #ffffff;
}

.checkbox__policy-link {
  margin-left: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
  text-decoration: underline;
}

.button-form {
  justify-content: center;
  margin: 0 auto;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
}

.button-form:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__label {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form__input {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  color: #ffffff;
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__button {
  position: relative;
  padding: 10px 62px 10px 29px;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
  }
}

.footer-form__icon-button {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}
/*# sourceMappingURL=main.css.map */