.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-clients {
  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.section-clients__label-list {
  display: flex;
  margin-top: 30px;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}

.label-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  height: 92px;
}
@media screen and (max-width: 767px) {
  .label-list__item {
    // flex-basis: calc(100% / 2 - 30px);
    flex-basis: calc((100% - 60px) / 2);
  }

  // .label-list__item {
  //   width: 170px;
  //   height: 92px;

  // justify-content: center;
  // align-items: center;
  // & + & {
  //   margin-left: 30px;
  // }
}

.label-list__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.label-list__item {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 0;
    width: 170px;
    justify-content: center;
  }
}

.label-list__link {
  @extend %centered;
  border: 1px solid getColor('icon-social-color');
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: getColor('icon-social-color');
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: getColor('accent-color');
    color: getColor('accent-color');
  }
}

.label-list__icon {
  fill: currentColor;
}
