.feature {
  // padding-top: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
  &__list {
    margin-top: 0;
  }
}

.feature__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.feature__wrap-icon {
  @extend %centered;
  height: 120px;
  background-color: getColor('primary-button-color');
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__subtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.feature__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  // max-width: 270px;
  // max-width: 100%;
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.feature__text {
  margin-top: 10px;
  margin-bottom: 0;

  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
