.header {
  display: flex;
  justify-content: space-between;
}

//---------------------------------------Главная навигация----------------------------------
.main-nav {
  // display: flex;
  // align-items: center;
  display: none;
}

.header__logo {
  // margin-right: 93px;
  padding: 16px 0;
}
.header-btn__close {
  padding: 0;
  background-color: getColor('primary-white-color');
  border: none;
  &:hover .header-btn__icon,
  &:focus .header-btn__icon {
    fill: getColor('accent-color');
  }
}

.site-nav {
  // display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &__item {
    position: relative;
  }
  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: getColor('title-text-color');
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link:hover,
  &__link:focus {
    color: getColor('accent-color');
  }
  &__link.current {
    color: getColor('accent-color');
  }
}

.site-nav__link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: getColor('accent-color');
}
//------------------------------------------ Контакты в главном меню -------------------------------//

.contact-nav {
  // display: flex;
  align-items: center;
  margin-left: auto;
  display: none;
}

.contact-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-nav__link {
  align-items: center;
  // display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: getColor('primary-text-color');
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: getColor('accent-color');
  }
}

.header-line {
  border-bottom: 1px solid getColor('nav-border-color');
}
