.header {
  // outline: 1px solid green;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    align-items: center;
  }
}

//---------------------------------------Главная навигация----------------------------------
.main-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header__logo {
  padding: 16px 0;

  @media screen and (min-width: 768px) {
    padding: 26px 0;
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    padding: 24px 0;
    margin-right: 93px;
  }
}
.header-btn__open {
  padding: 22px 0;
  background-color: getColor('primary-white-color');
  border: none;
  &:hover .header-btn__icon,
  &:focus .header-btn__icon {
    fill: getColor('accent-color');
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header-btn__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &__item {
    position: relative;
  }
  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: getColor('title-text-color');
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link:hover,
  &__link:focus {
    color: getColor('accent-color');
  }
  &__link.current {
    color: getColor('accent-color');
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.site-nav__link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: getColor('accent-color');
}
//------------------------------------------ Контакты в главном меню -------------------------------//

.contact-nav {
  margin-left: 84px;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contact-nav__icon {
  margin-right: 8px;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
  @media screen and (max-width: 1199px) {
    // padding: 1px;
  }

  fill: currentColor;
}
.contact-nav__icon--phone {
  width: 10px;
  height: 14px;
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.contact-nav__icon--mail {
  width: 14px;
  height: 10px;
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contact-nav__link {
  color: getColor('primary-text-color');
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: getColor('accent-color');
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
    display: flex;
  }
}

.header-line {
  border-bottom: 1px solid getColor('nav-border-color');
}

.header-mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: getColor('primary-white-color');
  z-index: 10;
  transform: translateX(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-mob-menu.is-open {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mob-menu-close {
  display: flex;
  border: none;
  position: absolute;
  background-color: transparent;
  top: 21px;
  right: 25px;
  padding: 0;
  &:hover .mob-menu-close__icon,
  &:focus .mob-menu-close__icon {
    fill: getColor('accent-color');
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mob-menu-close__icon {
  fill: getColor('title-text-color');
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.header-mob-menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: getColor('title-text-color');
  &.current {
    color: getColor('accent-color');
  }
}

.contact-mob {
  margin-bottom: 64px;
}
.contact-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact-mob__link {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: getColor('primary-text-color');
}

.contact-mob__link--accent-color {
  color: getColor('accent-color');
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mob-socials-list__item:not(:last-child) {
  margin-right: 20px;
  &::after {
    content: '';
    position: absolute;
    margin-left: 10px;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

.mob-socials-list {
  display: flex;
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: getColor('accent-color');
  }
}
