.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-button__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  // margin-bottom: 34px;
}
.portfolio-button__item {
  margin-bottom: 15px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-button__btn {
  display: block;
  padding: 6px 22px;
  min-width: 100%;

  color: getColor('title-text-color');
  background-color: getColor('primary-button-color');
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: getColor('primary-white-color');
    background-color: getColor('accent-color');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
