.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.page {
  background-color: getColor('primary-white-color');
  color: getColor('primary-text-color');
  font-family: Roboto, sans-serif;
}

// .no-grap {
//   display: block;
// }
img {
  display: block;
  max-width: 100%;
  height: auto;
}
